<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <userSettings>
    <Roaming>
      <Bluegrams.Application.Properties.Settings>
        <Culture></Culture>
      </Bluegrams.Application.Properties.Settings>
    </Roaming>
    <PC_MPG0049904>
      <Bluegrams.Application.Properties.Settings>
        <Updated>True</Updated>
      </Bluegrams.Application.Properties.Settings>
    </PC_MPG0049904>
  </userSettings>
</configuration>